# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
df_path = "/content/dataset_part_2.csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'AndreaCorzo'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine, if_exists = "replace")

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,class
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,"S,,,,,,,p,,,,,,,a,,,,,,,c,,,,,,,e,,,,,,,X",1.0,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,"N,,,,,,,A,,,,,,,S,,,,,,,A,,,,,,,(,,,,,,,C,,,,,,,O,,,,,,,T,,,,,,,S,,,,,,,)",1.0,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,"N,,,,,,,A,,,,,,,S,,,,,,,A,,,,,,, ,,,,,,,(,,,,,,,C,,,,,,,R,,,,,,,S,,,,,,,)",1.0,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,"M,,,,,,,D,,,,,,,A",1.0,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,"S,,,,,,,E,,,,,,,S",1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,164,2022-08-28,Falcon 9,13260.00000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3033383ecb075134e7cd,5.0,"S,,,,,,,p,,,,,,,a,,,,,,,c,,,,,,,e,,,,,,,X",1.0,1,B1069,-80.603956,28.608058,1
164,164,165,2022-08-31,Falcon 9,13260.00000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,"S,,,,,,,p,,,,,,,a,,,,,,,c,,,,,,,e,,,,,,,X",1.0,6,B1063,-120.610829,34.632093,1
165,165,166,2022-09-17,Falcon 9,13260.00000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,"S,,,,,,,p,,,,,,,a,,,,,,,c,,,,,,,e,,,,,,,X",1.0,5,B1067,-80.577366,28.561857,1
166,166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,"S,,,,,,,p,,,,,,,a,,,,,,,c,,,,,,,e,,,,,,,X",1.0,0,B1072,-80.577366,28.561857,1
167,167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,"N,,,,,,,A,,,,,,,S,,,,,,,A,,,,,,, ,,,,,,,(,,,,,,,C,,,,,,,C,,,,,,,t,,,,,,,C,,,,,,,a,,,,,,,p,,,,,,,)",1.0,0,B1077,-80.603956,28.608058,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """select distinct LaunchSite from SPACEXTBL;    """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = """select LaunchSite from SPACEXTBL where LaunchSite like 'CCS%' limit 5;"""
df  = pd.read_sql(query, con = engine )
df

InternalError: ignored

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia